on:
  pull_request:
    branches: [main]

jobs:
    formatter:
        name: auto-formatter
        runs-on: windows-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v4
          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version: 3.9
          - name: Install ruff
            run: pip install ruff==0.6.9
          - name: Check format
            run: python -m ruff format comtypes/. --check --diff
          - name: Check lint
            run: python -m ruff check --output-format=github comtypes/.
