/*
:Author: Thomas Heller
:Contact: theller@ctypes.org
:Copyright: This stylesheet has been placed in the public domain.

Stylesheet for use with Docutils.  [Optionally place a more
detailed description here.]

See also:

   http://docutils.sourceforge.net/docs/howto/html-stylesheets.html
*/

@import url(html4css1.css);

/*
h1, h2, h3, h4, h5, h6, p.topic-title {
  color: blue ;
  font-family: sans-serif
}
*/

a.toc-backref {
/*  text-decoration: default ; */
  color: blue }

a.toc-backref:visited {
  text-decoration: default ;
  color: default }

pre.literal-block {
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
/*
  width: 40% ;
  float: right ;
  clear: right
*/
}

tt.docutils {
  background-color: #eeeeee }
